<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css" />
</head>
<body>
    <div id="wrapper" class="yue">
        <header id="header">
            <nav>
            </nav>
        </header>
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>
        <footer id="footer">
        </footer>
    </div>
</body>
</html>
